# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle
android/captures/
android/local.properties
android/key.properties
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

keystore.base64.txt
